<div class="p-4 bg-blu text-gold overflow-y-scroll border-t border-gold h-40">
  <p class="pb-2">
    Data sources:
    <ul>
      <li><a class="underline" href='https://winnipeg.ca/interhom/Budget/2020Budget/pdfs/2020-Multi-year-Budget-Presentation_Community-Services_20191116.pdf'>Community Services cuts</a></li>
      <li><a class="underline" href='https://winnipeg.ca/interhom/Budget/2020Budget/pdfs/2020-Multi-year-Budget-Presentation_Fire-Paramedic-Service_20191116.pdf'>Fire and Paramedic Service cuts</a></li>
      <li><a class="underline" href='https://winnipeg.ca/interhom/Budget/2020Budget/pdfs/2020-Multi-year-Budget-Presentation_Transit_20191113.pdf'>Transit cuts</a></li>
      <li><a class="underline" href='https://winnipeg.ca/interhom/Budget/2020Budget/pdfs/2020-Multi-year-Budget-Presentation_Water-and-Waste_20191114.pdf'>Water and Waste cuts</a></li>
      <li><a class="underline" href='https://www.yourwinnipeg.ca/the_cuts'>Summary of cuts from CUPE Local 500</a></li>
      <li><a class="underline" href='https://winnipeg.ca/council/'>Councillor photos</a> and <a class="underline" href='https://data.winnipeg.ca/resource/r4tk-7dip.json'>contacts</a></li>
      <li><a class="underline" href='https://data.winnipeg.ca/Council-Services/Electoral-Ward/ede3-teb8'>Ward boundaries</a></li>
      <li><a class="underline" href='https://data.winnipeg.ca/Recreation/Arena/t3cz-kh3n'>Arenas</a></li>
      <li><a class="underline" href='https://data.winnipeg.ca/Libraries/Library/itub-a6x4'>Libraries</a></li>
      <li><a class="underline" href='https://data.winnipeg.ca/Recreation/Swimming-Pool-Indoor/pnd5-29qy'>Indoor</a>/<a class="underline" href='https://data.winnipeg.ca/Recreation/Swimming-Pool-Outdoor/m7h5-by7s'>outdoor</a>/<a class="underline" href='https://data.winnipeg.ca/Recreation/Swimming-Pool-Wading/fe7p-u4s6'>wading</a> pools</li>
    </ul>
  </p>
  <p>
    Image attributions:
    <ul>
      <li>checkboxes by Arthur Shlain from the Noun Project</li>
      <li>Helicopter by Hea Poh Lin from the Noun Project</li>
      <li>Home by Cy Me from the Noun Project</li>
      <li>play by No More Heroes from the Noun Project</li>
      <li>Siren Light by Creative Stall from the Noun Project (modified)</li>
      <li>streetlight by Yeoul Kwon from the Noun Project (modified)</li>
      <li>Waste by Smalllike from the Noun Project</li>
    </ul>
  </p>
</div>