<BottomContainer>
  <img
    class="max-h-full object-contain"
    src="councillors/bowman2.jpg"
    alt="Brian Bowman"
  >
  <div class="px-2 overflow-y-scroll">
    Winnipeg
    <br>
    Brian Bowman
    <br>
    <a class="underline" href='tel:204-986-5665'>204-986-5665</a>
    <br>
    <a class="underline" href='mailto:CLK-MayorWebMail@winnipeg.ca'>CLK-MayorWebMail@winnipeg.ca</a>
  </div>
</BottomContainer>