<BottomContainer @class="p-4">
  Data sources:
  <ul>
    <li><a class="underline" href='https://winnipeg.ca/interhom/Budget/2020Budget/pdfs/2020-Multi-year-Budget-Presentation_Community-Services_20191116.pdf'>Closure data</a></li>
    <li><a class="underline" href='https://winnipeg.ca/council/'>Councillor photos</a> and <a class="underline" href='https://data.winnipeg.ca/resource/r4tk-7dip.json'>contacts</a></li>
    <li><a class="underline" href='https://data.winnipeg.ca/Council-Services/Electoral-Ward/ede3-teb8'>Ward boundaries</a></li>
    <li><a class="underline" href='https://data.winnipeg.ca/Recreation/Arena/t3cz-kh3n'>Arenas</a></li>
    <li><a class="underline" href='https://data.winnipeg.ca/Libraries/Library/itub-a6x4'>Libraries</a></li>
    <li><a class="underline" href='https://data.winnipeg.ca/Recreation/Swimming-Pool-Indoor/pnd5-29qy'>Indoor</a>/<a class="underline" href='https://data.winnipeg.ca/Recreation/Swimming-Pool-Outdoor/m7h5-by7s'>outdoor</a>/<a class="underline" href='https://data.winnipeg.ca/Recreation/Swimming-Pool-Wading/fe7p-u4s6'>wading</a> pools</li>
  </ul>
  Attributions:
  <ul>
    <li>checkboxes by Arthur Shlain from the Noun Project</li>
    <li>Helicopter by Hea Poh Lin from the Noun Project</li>
    <li>streetlight by Yeoul Kwon from the Noun Project (modified)</li>
  </ul>
</BottomContainer>